
<h1>フォロー</h1>


<% @user.followings.each do |user| %>
<table class="table table-hover table-inverse">
	<tr>
		<td><%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "10*10" %></td>
		<td><%= user.name %></td>
		<td>フォロー:<%= user.followings.count %>人</td>
		<td>フォロワー:<%= user.followers.count %>人</td>
		<td><%= render "follow_form", user: user %></td>
		<td><%= link_to '詳細', user_path(user) %></td>
	</tr>


</table>
<% end %>

